@media screen and(max-width: 1199.98px){
  /* Design */
  .design-area{
    .design p{
      width: auto;
    }
    .pore {
    right: 41rem !important;
    }
  }

  /* Community */
  .community-area{
    .prev{
      left: 908px !important;
    }
  }

}//Max width 1199.98px End

@media screen and (max-width: 991.98px){
  /*[ Start Reset ]*/
  .photo p, .design p {
    width: auto;
  }
  .navbar-toggler{
    font-size: 18px;
  }
  /*[ End Reset ]*/

  /* Header Part Start */
  .main-bg{
    padding: 0 0 2rem;
    .header-part{
      .main-menu{
        align-items: center !important;
        li{
          margin-right: 0 !important;
          margin-left: 0 !important;
        }
      }
    }
  } /* Header Part End */

  /* Photo */
  .photo{
    background-position: 85% -95%;
  }

  /* Design */
  .design-area{
    padding: 10rem 0;
    .pore{
      right: 29rem !important;
      top: 39rem !important;
    }
    .aage {
    top: 39rem !important;
    }
  }

  /* Community */
  .community-area{
    .prev{
      left: 668px !important;
    }
  }

  /* Download */
  .download{
    p{
      width: auto;
    }
  }

} //Max width 991.98px End

@media screen and (max-width: 767.98px){
  /*[ Start Reset ]*/
  .photo p{
    color: #ffffff;
  }
  /*[ End Reset ]*/

  /* Photo */
  .photo{
    position: relative;
    z-index: 1;
    background-position: 20% -45%;
    .p-overlay:after{
      content: '';
      position: absolute;
      top: 12px;
      left: 15px;
      width: 95%;
      height: 95%;
      background-color: rgba(0,0,0,0.8);
      z-index: -1;
    }
  }

  /* Design */
  .design-area{
    padding: 5rem 0 10rem;
    .aage {
      top: 34rem !important;
      &:after{
        font-size: 1.6rem !important;
      }
    }
    .pore{
      right: 48rem !important;
      top: 34rem !important;
      &:after{
        font-size: 1.6rem !important;
      }
    }
    .custom-pagination {
      left: .1rem !important;
    }
    .design-phone{
      position: static;
      .swiper-slide{
        text-align: center;
      }
    }
  }

  /* Community */
  .community-area{
    .next{
      right: 45% !important;
    }
    .prev{
      left: 45% !important;
    }
  }

} //Max width 767.98px End


@media screen and (max-width: 575.98px){
  html{
    font-size: 50%;
  }
  /*[ Start Reset ]*/
  .photo .content h5, .design h5, .download h5 {
    width: auto;
    text-align: center;
  }
  .photo p, .design p {
    text-align: justify;
  }
  .photo .content a {
    display: block;
    text-align: center;
  }
  /*[ End Reset ]*/

  /* Photo */
  .photo{
    background-position: 100% 5%;
    .p-overlay:after{
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }

  /* Design */
  .design-area{
    .swiper-slide{
      height: 239px !important;
    }
    .aage{
      top: 37rem !important;
    }
    .pore{
      right: 0rem !important;
      top: 37rem !important;
    }
    .custom-pagination {
      width: 100% !important;
    }
  }

  /* Community */
  .community-area{
    .next{
      right: 40% !important;
    }
    .prev{
      left: 40% !important;
    }
  }

  /* Download */
  .download{
    .buttons{
      span{
        padding: 5px 15px 5px;
      }
    }
  }
} //Max width 575.98px End

@media screen and (max-width: 411.98px){
  /* Download */
  .download{
    .buttons{
      flex-direction: column !important;
      .apple-btn{
        margin: 0 0 10px;
      }
    }
  }

  /* Footer */
  .footer-part{
    .content{
      flex-direction: column-reverse;
      .f-menu{
        text-align: center;
      }
      .footer-logo{
        margin-bottom: 25px;
      }
    }
  }
} //Max width 411.98px End
